*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont{
  display: flex;
}


.show{
  display: block;
}

.hide{
  display: none;
}

.cont2{
  margin-top: 10px;
}

ul li {
  padding: 5px 0;
}
